 $white: #ffffff;
 $white-soft: #f8f8f8;
 $white-mute: #f2f2f2;

 $black: #181818;
 $black-soft: #212121;
 $black-mute: #282828;

 $indigo: #2c3e50;

 $divider-light-1: rgba(60, 60, 60, 0.29);
 $divider-light-2: rgba(60, 60, 60, 0.12);
 $divider-dark-1: rgba(84, 84, 84, 0.65);
 $divider-dark-2: rgba(84, 84, 84, 0.48);

 $text-light-1: #2c3e50;
 $text-light-2: rgba(60, 60, 60, 0.66);
 $text-dark-1: var(--vt-c-white);
 $text-dark-2: rgba(235, 235, 235, 0.64);

$primary-main:#FF7A00;
$primary-main-hover:#ff7b0064;

/* Fonts */

$raleway: Raleway;